.p-y-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.m-t-16 {
    margin-top: 16px;
}

.m-l-12 {
    margin-left: 12px;
}

.text-right {
    text-align: right;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.bg-error {
    background: #f44336;
}

.text-white {
    color: #fff;
}