<mat-card class="cardWithShadow">

  <!-- Cabeçalho padrão sem botão -->
  <app-card-header
    titulo="Configurações do SmartCalc"
    [mostrarDivisor]="true"
    [helpRota]="['/page/ajuda']"
    helpFragment="smartcalc"
    helpTexto="Manual do SmartCalc"
    helpIcone="help_outline">
  </app-card-header>

  <mat-card-content>

    <!-- Texto explicativo em uma linha só -->
    <p class="f-s-18 f-w-600 text-muted m-t-8 m-b-16">
      Use as opções abaixo para ativar o SmartCalc e definir quais produtos poderão
      utilizar o cálculo automático no momento do orçamento/pedido.
    </p>

    <mat-divider class="m-b-24"></mat-divider>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="row">

        <!-- Coluna: Ativação -->
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 m-b-24">
          <mat-label class="f-s-14 f-w-600 m-b-8 d-block">
            Ativação do SmartCalc
          </mat-label>

          <mat-slide-toggle formControlName="ativo">
            SmartCalc ativo para esta empresa
          </mat-slide-toggle>

          <small class="text-muted f-s-12 d-block m-t-4">
            Quando desativado, o SmartCalc não será exibido nem utilizado nos fluxos de cálculo.
          </small>
        </div>

        <!-- Coluna: Produtos (spinner ou select) -->
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 m-b-24">
          <ng-container *ngIf="carregando(); else produtosTpl">
            <div class="d-flex align-items-center" style="height: 48px;">
              <mat-progress-spinner mode="indeterminate" diameter="28"></mat-progress-spinner>
              <span class="m-l-12">Carregando produtos...</span>
            </div>
          </ng-container>

          <ng-template #produtosTpl>
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">
              Produtos com SmartCalc habilitado *
            </mat-label>

            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="produtoIds" multiple>
                <mat-option *ngFor="let p of produtoOptions; trackBy: trackById" [value]="p.id">
                  {{ p.nome }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <small class="text-muted f-s-12 d-block">
              Somente os produtos selecionados aqui aparecerão como opção no SmartCalc.
            </small>
            
          </ng-template>
        </div>
        
      </div>

      <!-- Botões -->
      <div class="text-right m-t-8">
        <button mat-flat-button color="primary" class="m-r-8" type="submit" [disabled]="salvando()">
          <mat-icon class="m-r-4">save</mat-icon>
          Salvar
        </button>

        <button mat-flat-button class="bg-error text-white" type="button" routerLink="/page/configuracoes">
          Cancelar
        </button>
      </div>

    </form>

  </mat-card-content>

</mat-card>
