<div class="w-100">
  <mat-label class="f-s-14 f-w-600 m-b-8 d-block">
    {{ label }} <span *ngIf="isRequired" style="color: #f44336">*</span>
  </mat-label>

  <mat-form-field appearance="outline" class="w-100">
    <input #input matInput type="text"
      [placeholder]="placeholder"
      [formControl]="control"
      (input)="onInput($event)"
      (blur)="onBlur()" />

    @if (carregando) {
    <mat-hint>Buscando endereço...</mat-hint>
    }

    @if (control.invalid && control.touched) {
    <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>
</div>
