# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Angular / build
dist/
tmp/
out-tsc/

# IDEs
.idea/
.vscode/
*.iml

# Mac / SO
.DS_Store
Thumbs.db

# Test / coverage
coverage/
.angular/cache/
