<mat-card class="cardWithShadow">
  <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
    <!-- Única aba por enquanto -->
    <mat-tab label="SmartCalc">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content class="p-y-24">
          <div class="row">
            <div class="col-sm-12">
              <mat-card class="cardWithShadow">
                <mat-card-content>
                  <mat-card-title>Configurações do SmartCalc</mat-card-title>
                  <mat-card-subtitle class="f-s-14">Selecione os produtos e ative/desative o SmartCalc</mat-card-subtitle>

                  <div class="row m-t-16">
                    <div class="col-lg-6">
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Ativo</mat-label>
                      <mat-slide-toggle formControlName="ativo">
                        SmartCalc Ativo
                      </mat-slide-toggle>
                    </div>

                    <div class="col-lg-6" *ngIf="carregando(); else produtosTpl">
                      <div class="d-flex align-items-center" style="height: 48px;">
                        <mat-progress-spinner mode="indeterminate" diameter="28"></mat-progress-spinner>
                        <span class="m-l-12">Carregando produtos...</span>
                      </div>
                    </div>

                    <ng-template #produtosTpl>
                      <div class="col-lg-6">
                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Produtos habilitados *</mat-label>
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-select formControlName="produtoIds" multiple>
                            <mat-option *ngFor="let p of produtoOptions; trackBy: trackById" [value]="p.id">
                              {{ p.nome }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </ng-template>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>

        <div class="text-right p-24 p-t-0">
          <button mat-flat-button class="m-r-8" type="submit" [disabled]="salvando()">
            <mat-icon>save</mat-icon>
            Salvar
          </button>
          <button mat-flat-button class="bg-error text-white" type="button">
            Cancelar
          </button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
