<mat-card class="cardWithShadow">

  <!-- Cabeçalho padrão com botão "Novo Material" -->
  <app-card-header titulo="Materiais" botaoTexto="Novo Material" botaoIcone="add"
    [botaoRota]="['/page/cadastro-tecnico/materiais/nova']" [mostrarDivisor]="true" permissao="GERENCIAR_PRODUTOS">
  </app-card-header>

  <mat-card-content>

    <!-- Tabela de materiais -->
    <div class="table-responsive">
      <table mat-table [dataSource]="materiais" class="mat-elevation-z1 no-wrap m-t-0 v-middle w-100">

        <!-- Nome -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nome</th>
          <td mat-cell *matCellDef="let material" class="f-s-14">
            {{ material.nome }}
          </td>
        </ng-container>

        <!-- Descrição -->
        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Descrição</th>
          <td mat-cell *matCellDef="let material" class="f-s-14">
            {{ material.descricao }}
          </td>
        </ng-container>

        <!-- Ações -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Ações</th>
          <td mat-cell *matCellDef="let material" class="action-link">
            <a (click)="editar(material)" class="m-r-10 cursor-pointer">
              <i-tabler name="edit" class="icon-18"></i-tabler>
            </a>
            <a (click)="excluir(material)" class="cursor-pointer">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
      </table>

      <mat-paginator [length]="totalMateriais" [pageSize]="tamanhoPagina" (page)="onPaginaAlterada($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>

</mat-card>
