<app-section-card [titulo]="titulo" [divider]="true">
  <div class="filters">
    <app-input-pesquisa
      [placeholder]="placeholder"
      [showLabel]="false"
      (valorAlterado)="onPesquisar($event)">
    </app-input-pesquisa>

    <mat-form-field appearance="outline" class="status-filter" *ngIf="mostrarStatus">
      <mat-label>Status</mat-label>
      <mat-select [value]="statusSelecionado" (selectionChange)="onStatusChange($event.value)">
        <mat-option *ngFor="let s of statusOptions" [value]="s">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</app-section-card>
