<div class="d-flex justify-content-between align-items-center flex-wrap p-16 w-100">
  <div class="f-s-20 f-w-600 text-primary-dark">
    {{ titulo }}
  </div>

  <!-- Botão à direita -->
  <ng-container *ngIf="botaoTexto && botaoRota">
    <!-- Sem permissão: mostra sempre -->
    <ng-container *ngIf="!permissao; else botaoComPermissao">
      <button
        mat-stroked-button
        [color]="botaoCor"
        [routerLink]="botaoRota"
      >
        <mat-icon class="m-r-4">{{ botaoIcone }}</mat-icon>
        {{ botaoTexto }}
      </button>
    </ng-container>

    <!-- Com permissão: usa a diretiva -->
    <ng-template #botaoComPermissao>
      <button
        mat-stroked-button
        [color]="botaoCor"
        [routerLink]="botaoRota"
        *temPermissao="permissao"
      >
        <mat-icon class="m-r-4">{{ botaoIcone }}</mat-icon>
        {{ botaoTexto }}
      </button>
    </ng-template>
  </ng-container>
</div>

<mat-divider *ngIf="mostrarDivisor" class="m-b-24"></mat-divider>
