<div class="w-100">
  <mat-label class="f-s-14 f-w-600 m-b-8 d-block">
    {{ label }}
    <span *ngIf="isRequired" style="color: #ff110094">*</span>
  </mat-label>

  <mat-form-field appearance="outline" class="w-100">
    <input
      matInput
      type="text"
      [formControl]="control"
      [matAutocomplete]="auto"
      [placeholder]="placeholder"
      autocomplete="off"
      (focus)="abrirOpcoes()"
      (blur)="updateErrorMessage()" />

      <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayWith"
      (optionSelected)="aoSelecionar($event.option.value)">
    
      <mat-option *ngFor="let item of opcoesFiltradas" [value]="item">
        {{ displayWith(item) }}
      </mat-option>
    
      <mat-option *ngIf="buscaExecutada && opcoesFiltradas.length === 0" disabled>
        Nenhum resultado encontrado
      </mat-option>
    </mat-autocomplete>   

    <mat-error *ngIf="control.invalid && control.touched">
      {{ errorMessage() }}
    </mat-error>
  </mat-form-field>
</div>
