.page-card {
  display: block;

  mat-card-content {
    padding: 12px 12px 16px;

    &.no-padding {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .page-card mat-card-content {
    padding: 10px 8px 14px;
  }
}
