<h2 mat-dialog-title class="f-s-20 f-w-600 m-b-8">Alterar Perfil</h2>

<mat-dialog-content>
  <div>
    <div class="f-s-16 f-w-500 text-muted m-b-12">
      {{ data.usuario.nome }}
    </div>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Selecione o novo perfil</mat-label>
        <mat-select formControlName="perfilId">
          <mat-option *ngFor="let perfil of perfis" [value]="perfil.id">
            {{ perfil.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
