<mat-card class="cardWithShadow">
  <app-card-header titulo="Servidor de E-mail" botaoTexto="Voltar" botaoIcone="arrow_back"
    [botaoRota]="['/dashboards/dashboard1']" [mostrarDivisor]="true">
  </app-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="salvar()" class="email-form">
      <div class="row g-3 email-row">
        <div class="col-md-6">
          <app-input-texto-restrito [control]="hostControl" label="Host" placeholder="smtp.seudominio.com"
            [maxlength]="200">
          </app-input-texto-restrito>
        </div>
        <div class="col-md-3">
          <app-input-numerico [control]="portaControl" label="Porta"></app-input-numerico>
        </div>
        <div class="col-md-3 ssl-col">
          <mat-checkbox formControlName="usarSsl">Usar SSL/TLS</mat-checkbox>
        </div>

        <div class="col-md-6">
          <app-input-email [control]="usuarioControl" label="Usuário (e-mail)" placeholder="email@seudominio.com">
          </app-input-email>
        </div>
        <div class="col-md-6">
          <app-input-texto-restrito [control]="senhaControl" label="Senha" [maxlength]="200">
          </app-input-texto-restrito>
        </div>

        <div class="col-md-6">
          <app-input-email [control]="remetenteControl" label="Remetente padrão"
            placeholder="nome@seudominio.com">
          </app-input-email>
        </div>

        <div class="col-md-6 d-flex align-items-end">
          <button mat-stroked-button color="primary" type="button" (click)="testar()">
            Testar configuração
          </button>
        </div>
      </div>

      <div class="actions-row m-t-16">
        <button mat-flat-button class="bg-error text-white" type="button" (click)="cancelar()">
          Cancelar
        </button>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
          Salvar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
