<mat-card class="cardWithShadow">
    <div class="p-24">
      <mat-card-title class="m-b-0">Editar Usuário</mat-card-title>
    </div>
  
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Nome</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="nome" placeholder="Digite o nome completo" />
          @if (form.get('nome')?.invalid) {
            <mat-error>{{ getErrorMessage('nome') }}</mat-error>
          }
        </mat-form-field>
  
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">E-mail</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="email" formControlName="username" placeholder="exemplo@email.com" />
          @if (form.get('username')?.invalid) {
            <mat-error>{{ getErrorMessage('username') }}</mat-error>
          }
        </mat-form-field>
  
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Perfil</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="perfilId">
            <mat-option *ngFor="let perfil of perfis" [value]="perfil.id">{{ perfil.nome }}</mat-option>
          </mat-select>
          @if (form.get('perfilId')?.invalid) {
            <mat-error>{{ getErrorMessage('perfilId') }}</mat-error>
          }
        </mat-form-field>
  
        <div class="m-t-16 m-b-16">
            <mat-slide-toggle formControlName="ativo">
                {{ form.get('ativo')?.value ? 'Usuário Ativo' : 'Usuário Inativo' }}
              </mat-slide-toggle>
        </div>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Atualizar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  